footer.footer-nav-controll
  menu.footer-menu

    a(href="#" class="footer-menu--link footer-menu_menu") меню
      .dots-container.dots-container_red
        span.dot

    a(href="#" class="footer-menu--link footer-menu_back" onclick="back()") назад
      .dots-container.dots-container_green
        span.dot
        span.dot

    a(href="#" class="footer-menu--link footer-menu_next" onclick="next()") далі
      .dots-container.dots-container_yellow
        .dots-wrapper
          span.dot
          span.dot
          span.dot

    a(href="#" class="footer-menu--link footer-menu_search") пошук
      .dots-container.dots-container_violet
        .dots-wrapper
          span.dot
          span.dot
          span.dot
          span.dot

  .section-indicator
    a(href="#first" class="section-indicator--link section-indicator--link_active")
    a(href="#second" class="section-indicator--link")
    a(href="#third" class="section-indicator--link")
    a(href="#four" class="section-indicator--link")
    a(href="#fifth" class="section-indicator--link")
    a(href="#six" class="section-indicator--link")
