//- script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
//- script(src="https://css-tricks.com/examples/HorzScrolling/jquery.mousewheel.js")
script(src="js/smooth-scroll.min.js")
script(src="js/common.js")
