section#first
  .article-container

    article.card.card_596x596.card--line_red.card_shadow.margin-top-0
      figure
        img(class="filter" src="images/1.png", alt="")
        figcaption
          a(href="" class="card--text_tag-new") Нові серії
          a(href="" class="card--text_title") Величне століття
          a(href="" class="card--text_info") Сезон 4, серія 724

    article.card.card_596x288.card--line_yellow.card_shadow
      figure
        img(class="filter" src="images/2.png", alt="")
        figcaption
          a(href="" class="card--text_title") Севілія / дніпро
          a(href="" class="card--text_info") Єврокубок

    article.card.card_288x288.card--line_red.card_shadow.margin-top-0
      figure
        img(class="filter" src="images/3.png", alt="")
        figcaption
          a(href="" class="card--text_title") байер / іскра
          a(href="" class="card--text_info") Єврокубок

    article.card.card_288x288.card--line_pink.card_shadow
      figure
        img(class="filter" src="images/4.png", alt="")
        figcaption
          a(href="" class="card--text_title") Онлайн любов
          a(href="" class="card--text_info") Серія 15

    article.card.card_288x288.card--line_blue.card_shadow
      figure
        img(class="filter" src="images/5.png", alt="")
        figcaption
          a(href="" class="card--text_title") ЄВРОМАЙДАН
          a(href="" class="card--text_info") Фільм

    article.card.card_288x288.card--line_pink.card_shadow.margin-top-0
      figure
        img(class="filter" src="images/6.png", alt="")
        figcaption
          a(href="" class="card--text_title") Файна Юкраїна 
          a(href="" class="card--text_info") Серія 4

    article.card.card_288x596.card--line_red.card_shadow
      figure
        img(class="filter" src="images/7.png", alt="")
        figcaption
          a(href="" class="card--text_title") Пустий Париж
          a(href="" class="card--text_info") Фільм

    article.card.card_288x288.card--line_red.card_shadow.margin-top-0
      figure
        img(class="filter" src="images/8.png", alt="")
        figcaption
          a(href="" class="card--text_title") ТСН
          a(href="" class="card--text_info") Новини

    article.card.card_288x288.card--line_yellow.card_shadow
      figure
        img(class="filter" src="images/9.png", alt="")
        figcaption
          a(href="" class="card--text_title") Меркель
          a(href="" class="card--text_info") Фільм

    article.card.card_596x288.card--line_blue.card_shadow
      figure
        img(class="filter" src="images/10.png", alt="")
        figcaption
          a(href="" class="card--text_title") Назустріч торнадо
          a(href="" class="card--text_info") Фільм

    article.card.card_288x596.card--line_pink.card_shadow.offset-x228.margin-top-0
      figure
        img(class="filter" src="images/11.png", alt="")
        figcaption
          a(href="" class="card--text_title") ФРЕЙМУТ
          a(href="" class="card--text_info") Львів
