header(block="header")
  div(block="header-owerlay")
    nav(block="nav")
      a(elem="link" href="#")
        i(class="fa fa-home")
        span home
      a(elem="link" href="#")
        i(class="fa fa-heart-o")
        span about me
      a(elem="link" href="#")
        i(class="fa fa-desktop")
        span portfolio
      a(elem="link" href="#")
        i(class="fa fa-envelope-o")
        span drop me a line
  div(block="header-container")
    div(block="header-wrap-top")
      div(elem="logo")
      div(elem="icon-nav")
        i(class="fa fa-bars")
        i(class="fa fa-times")
    div(block="header-content")
      div(block="header-content-text")
        div(elem="first-word") Meet Perth,
        div(elem="sec-word") A stupidly simple, flat PSD. Oh yeah, it’s <em>free</em> too!
      a(elem="btn" href="files" download="al.zip") download
        i(class="fa fa-cloud-download")
    .iphone-hold
      .iphone-main
        .iphone-inner
      .iphone-sub
        .iphone-top
        .iphone-mid
          .iphone-part
        .iphone-bot
