section.subscribe
  .container
    div(block="socials")
      div(elem="elem")
        i.fa.fa-dribbble
      div(elem="elem")
        i.fa.fa-facebook
      div(elem="elem")
        i.fa.fa-twitter
      div(elem="elem")
        i.fa.fa-send-o
    form(action="")
      label(for="") Newsletter subscription
      input(type="email", placeholder="Enter Email")
