section(block="section-ipad")
  .container
    header(block="header-section" mods="left")
      h1 A Longwinded Header
      p.text
        |She'll be right paddock how lets throw a ciggies. She'll be right ute to built like a doovalacky. We're going rack off bloody she'll be right pash. You little ripper tucker also get a dog up ya greenie.
      p.coments
        |You little ripper boozer no worries she'll be right holy dooley!. Come a 
        |freo also as cross as a your shout. Lets throw a khe sanh flamin dead 
        |dingo's donger. Lets get some fisho with grab us a trackie dacks.
      button.btn say hello
        i.fa.fa-envelope
    div(block="ipad-block")
      img(src="images/ipad.png", alt="ipad")
