section.apple
  .container
    .apple-wrap
      img(src="images/devices.png", alt="apple")
    header(block="header-section" mods="right")
      h1 Get a Dog Up Ya’
      p.text
        |She'll be right paddock how lets throw a ciggies. 
        |She'll be right ute to built like a doovalacky.
      p.coments
        |We're going rack off bloody she'll be right pash. You 
        |little ripper tucker also get a dog up ya greenie.
      button.btn VIEW ON DRIBBBLE
        i.fa.fa-dribbble
