@font-face
  font-family BlackJack Regular
  src url(../fonts/BlackJack-Regular.woff2) format(woff2)

@font-face
	font-family ProximaNova Regular
	src url(../fonts/ProximaNova-Regular.woff2) format(woff2)

body
  font-family ProximaNova Regular
