@lost flexbox flex

.beer-section
  background-image url(../images/bear-pattern.png)
  .container
    lost-center 940px 15px
    justify-content center
    header
      display flex
      flex-flow column wrap
      align-items center
      font-size 40px
      color #fff
      font-family ProximaNova Regular
      margin-top 100px
      margin-bottom 100px
      h1
        margin 0
        font-weight normal
      .btn
        background-color transparent
        border 3px solid #fff
        text-transform uppercase
        color #fff
        font-family ProximaNova Regular
        font-size 15px
        margin-top 40px
        margin-left -20px
        padding-top 22px
        padding-bottom 22px
        cursor pointer
        border-radius 2px
        width 350px
        i
          padding-left 15px
