doctype html
html(lang="uk")
  head
    include components/head
  body
    include components/header
    .wrapper_sections
      include components/section-first
      include components/section-second
      include components/section-third
      include components/section-four
      include components/section-fifth
      include components/section-six
    include components/footer
    include components/scripts
