@font-face
  font-family "Exo2 Regular"
  src url("../fonts/Exo2Regular.woff2") format("woff2")
  src url("../fonts/Exo2Regular.woff") format("woff")

@font-face
  font-family "Exo2 Extra Bold"
  src url("../fonts/Exo2ExtraBold.woff2") format("woff2")
  src url("../fonts/Exo2ExtraBold.woff") format("woff")

@font-face
  font-family "Exo2 Light"
  src url("../fonts/Exo2Light.woff2") format("woff2")
  src url("../fonts/Exo2Light.woff") format("woff")

body
  font-family Exo2 Regular, Exo2 Extra Bold, Exo2 Light, PT Sans
