nav
  display flex
  justify-content space-between
  align-items center
  width 100%
  margin-top 20px
  margin-bottom 43px
  position fixed
  z-index 5
  top 0
form
  display flex
  align-items center
  margin-right 60px
  input
    color $header--input-search_c
    background-color transparent
    border none
    height 35px
    width 125px
    font-size 32px
    padding 5px
    &::placeholder
      text-transform uppercase
  .btn-search
    background-image url(../images/search-icon.png)
    height 24px
    width 25px
    background-color transparent
    border none
    margin-left 10px
.menu-icon
  background-image url(../images/menu-icon.png)
  height 24px
  width 28px
  text-decoration none
  margin-left 54px
