// Colors
$body_bgc = #000

$card--text-head_c = #fff
$card--text-head_bgc = #db322e
$card--text-info_c = #fff
$card_shadow_c = #000
$card_hover_active = #1bacff
$card_bgc = #2a2a38
$card--line_red = #ca2722
$card--line_yellow = #eebd3c
$card--line_blue = #0098a4
$card--line_pink = #aa2390

// C
$header--menu-icon_c = #fff
$header--input-search_c = #fff

// Calors of blocks containers dots
$footer-menu--link_c = #fff
$footer-menu--dots_bgc = #fff
$footer-menu--link_red = #db322e
$footer-menu--link_green = #00a442
$footer-menu--link_yellow = #e3b83b
$footer-menu--link_violet = #1c2188

// Section pagination
$section-indicator--link_bgc = #4d4d4d
$section-indicator--link_active_bgc = #fff

// Sizes
$card--line-block =
  position absolute
  content ''
  bottom 0
  width 100%
  height 4px
  z-index 4

$card--size_596 = 596px
$card--size_288 = 288px
