@import 'components/header'
@import 'components/section-ipad'
@import 'components/section-apple'
@import 'components/section-beer'
@import "components/section-subs"
@import "components/footer"
@import 'components/fonts'

body
  margin 0
  overflow-x hidden
