doctype html
html
  include components/head
  body
    include components/header
    include components/section-ipad
    include components/section-apple
    include components/section-beer
    include components/section-subs
    include components/footer
    include components/javascript
